langchain_huggingface==0.0.1
sentence-transformers==3.0.0
langchain_community==0.2.4
langchain_cohere==0.1.5
langchain_openai==0.1.8
langchain_groq==0.1.4
python-dotenv==1.0.1
langchainhub==0.1.18
faiss-cpu==1.8.0
langgraph==0.0.64
pdf2image==1.17.0
langfuse==2.33.1
pymupdf==1.24.5
gradio==4.32.1